// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// fa fa-
@import "../../../node_modules/font-awesome/scss/font-awesome";

// Variables
@import 'variables';

// Bootstrap
@import '../../../node_modules/bootstrap/scss/bootstrap';
